@import url(./sharedStyles.css);

* {
  box-sizing: border-box;
}

body {
  background-color: var(--cp-bg-pane);
}

.grid-container {
  display: grid;
  grid-template-areas: 
  "header"
  "content";
  max-width: 1000px;
  margin: auto;
  padding: 0px 25px;
}

main {
  grid-area: content;
}

p, li {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: var(--cp-text);
}

h2 {
  font-family: "Montserrat", sans-serif;  
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: var(--cp-text);
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: var(--cp-text);
}

h4 {
  color: gray;
  font-family: "Noto Serif", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--cp-text);
}

main {
    display: grid;
    grid-template-areas: "cv about";
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#cv {
  grid-area: cv;
}

#about {
  grid-area: about;
}

img {
  border-radius: 5px;
  margin-top: 20px;
  max-width: 250px;
  height: auto;
}

@media (max-width: 600px) {
  main {
    grid-template-areas: 
    "about"
    "cv";
    grid-template-columns: 1fr;
  }
}