@import url(./sharedStyles.css);

body {
  background-color: var(--cp-bg-pane);
}

p, li {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: var(--cp-text);
}

h2 {
  font-family: "Montserrat", sans-serif;  
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: var(--cp-text);
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: var(--cp-text);
}

h4 {
  color: gray;
  font-family: "Noto Serif", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--cp-text);
}

.content {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


img {
  border-radius: 5px;
  margin-top: 20px;
  max-width: 250px;
  height: auto;
}
