img {
    max-width: 100%;
    height: auto;
}

.content {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#project-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}