@import url(./sharedStyles.css);

* {
  box-sizing: border-box;
}

body {
    background-color: var(--cp-bg-pane);
}

.grid-container {
  display: grid;
  grid-template-areas: 
  "header"
  "text"
  "images";
  max-width: 1000px;
  margin: auto;
  padding: 0px 25px;
}

.project-text {
    grid-area: text;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border: 1px solid var(--cp-crust);
}

#project-year {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--cp-subtle);
    margin: 0px 0px;
}

main p {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: var(--cp-text);
}

h1 {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    color: var(--cp-text);
}

#project-images {
    grid-area: images;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media (max-width: 600px) {
  #project-images {grid-template-columns: 1fr;}
}