@import url(./sharedStyles.css);

body {
    background-color: var(--cp-bg-pane);
}

img {
    max-width: 100%;
    height: auto;
}

.content {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

hr {
    border: 1px solid var(--cp-crust);
}

#project-year {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--cp-subtle);
    margin: 0px 0px;
}

main > p {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: var(--cp-text);
}

main > a, main > a:visited {
    transition: 0.2s;
    color: var(--cp-link1);
}

header > a, header > a:visited {
    text-decoration: none;
    font-family: "Noto Serif", serif;
    font-size: 14px;
    transition: 0.2s;
    color: var(--cp-link1);
}

main > a:hover {
    color: var(--cp-link3);
}

header > a:hover {
    color: var(--cp-link3);
}

h1 {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    color: var(--cp-text);
}

#project-images {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}