/* nord */ 
:root {
    --bg0: #ECEFF4;
    --fg: #2e3440;
    --blue: #5E81AC;
    --blue2: #81a1c1;
    --aurora: #b48ead;
    --grey1: #D8DEE9;
    --grey2: #4C566A;

    --cp-bg-pane: #eff1f5;
    --cp-overlay0: #6c6f85; 
    --cp-text: #4c4f69;
    --cp-subtext0: #6c6f85;
    --cp-subtext1: #5c5f77;
    --cp-subtle: #8c8fa1;
    --cp-link1: #1e66f5;
    --cp-link2: #7287fd;
    --cp-link3: #ea76cb;
    --cp-crust: #dce0e8;
}

hr {
  border: 1px solid var(--cp-crust);
}

a {
    text-decoration: none;
    color: var(--cp-link1);
    transition: 0.2s;
}

a:visited {
    color: var(--cp-link1);
}

a:hover {
    color: var(--cp-link3);
}

.header-upper {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0.2rem;
    color: var(--cp-text);
}

.header-upper h1 {
    margin-bottom: 10px;
}

#header a {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--cp-text);
}

#header a:hover {
    color: var(--cp-link3);
}

.header-lower {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}