header {
  max-width: 1000px;
  margin: auto;
  padding: 0px 25px;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 0px 25px;
}

hr {
  border: 1px solid var(--grey1);
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--fg);
}

img {
  max-width: 100%;
  height: auto;
}

a, a:visited {
  text-decoration: none;
  color: var(--blue);
  transition: 0.2s;
}

a:hover {
  color: var(--blue2);
  text-decoration: none;
}

.header-upper {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0.2rem;
}

h2 {
  font-family: "Montserrat", sans-serif;  
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

h4 {
  color: gray;
  font-family: "Noto Serif", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

#projekti-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.projekti-tile {
  display: flex;
  flex-direction: column;
}

.projekti-tile > p {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
  color: var(--blue2); 
}