@import url(./css/sharedStyles.css);

* {
  box-sizing: border-box;
}

body {
  background-color: var(--cp-bg-pane);
}

.grid-container {
  display: grid;
  grid-template-areas:
  "header"
  "projects";
  max-width: 1000px;
  margin: auto;
  padding: 0px 25px;
}

header {
  grid-area: header;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--cp-text);
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: var(--cp-text);
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: var(--cp-text);
}

h4 {
  color: var(--cp-subtle);
  font-family: "Noto Serif", serif;
  font-weight: 300;
  font-size: 16px;
}

#projekti-grid {
  grid-area: projects;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.projekti-tile {
  display: flex;
  flex-direction: column;
}

.projekti-tile > p {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  color: var(--cp-subtle);
}

@media (max-width: 600px) {
  #projekti-grid {grid-template-columns: 1fr;}
}
